footer {
  color: #9a9a9a;
  font-family: $font-sans-serif;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  p {
    border-top: 1px solid #dadada;
    padding: 0.4rem 0;
    margin-bottom: 0;
  }

  a {
    font-weight: bold;
  }

  .footer-logo {
    width: 30px;
    margin-top: 10px;
  }
}
